* {
	box-sizing: border-box;
}

.shop-nav {
	background-color: #f8f8f8;
	overflow: auto;
	padding: 5px 0;
}

.center-content {
	width: 500px;
	margin: 0 auto;
	position: relative;
}

.top-search {
	position: absolute;
	top: 0;
	right: 0;
}

.shop-links {
	position: absolute;
	top: 0;
	left: 0;
}

.account-links {
	margin: 0 auto;
	padding-top: 10px;
}

